@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

html,
body {
  font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
  line-height: 1.15;
}

p {
  line-height: 1.5em;
}

html {
  scroll-behavior: smooth;
}

button {
  outline: none !important;
}
